.second-sell{
    display: flex;
    padding: 50px;
}
.selling-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    margin-bottom: 60px;
    width: 50%;
}
.second-product{
   width: 60%;
}

.second-info {
    font-size: 24px;
    padding: 10px;
}

.question {
    font-size: 64px;
    letter-spacing: 1px;
    padding: 5px;
}

.answer {
    font-size: 18px;
    padding: 10px;
    letter-spacing: .9px;
    line-height: 1.6;
    margin: 0;
}

.limited {
    padding: 5px;
    letter-spacing: .9px;
    color: red;
}

/*======= MEDIA QUERIES =========*/

@media (max-width: 500px) {

    .second-product {
        width: 150%;
        margin-bottom: 20px;
    }
    .second-sell {
        width: 100%;
        margin: 15px;
        padding: 10px;
        flex-wrap: wrap;
    }
    .question {
        font-size: 53px;
    }
}