.second-sell{
    display: flex;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    margin-bottom: 60px;
    width: 50%;
}

.second-product{
   width: 80%;
}

.product-name {
    font-size: 24px;
    padding: 10px;
}
.detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.price {
    font-size: 18px;
    padding: 10px;
    letter-spacing: .9px;
}

.name {

    padding: 5px;
}


.description {
    padding: 10px;
    letter-spacing: .9px;
}


@media (max-width: 500px) {
    .product {
        width: 100%;
        margin-bottom: 20px;
    }
    .product-image {
        width: 180px;
        margin: 15px;
        padding: 10px;
    }
}