<<<<<<< HEAD
.second-sell {
  display: flex;
  margin-top: 30px;
=======
.second-sell{
    display: flex;
    padding: 50px;
>>>>>>> cb9c3cd03683f48c8409e8b3ae5891beb82caa70
}
.selling-point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 20px;
  margin-bottom: 60px;
  width: 50%;
}
<<<<<<< HEAD

.second-product {
  width: 70%;
=======
.image-element{
    width: 60%;
>>>>>>> cb9c3cd03683f48c8409e8b3ae5891beb82caa70
}
.second-info {
  font-size: 24px;
  padding: 10px;
}

.question {
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
}
.answer {
<<<<<<< HEAD
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.9px;
  line-height: 1.6;
=======
    font-size: 18px;
    padding: 10px;
    letter-spacing: .9px;
    line-height: 1.6;
    margin: 0;
}
a {
    color: red;
    text-decoration: underline;
    transition: 250ms all;
}
a:hover{
    background-color: red;
    color:white;
    transform: scale(1.02);
>>>>>>> cb9c3cd03683f48c8409e8b3ae5891beb82caa70
}
.limited {
  padding: 5px;
  letter-spacing: 0.9px;
  color: red;
}

<<<<<<< HEAD
@media (max-width: 500px) {
  .second-product {
    width: 150%;
    margin-bottom: 20px;
  }
  .second-sell {
    width: 100%;
    margin: 15px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .question {
    font-size: 53px;
  }
}
=======
/*======= MEDIA QUERIES =========*/

@media (max-width: 500px) {

    .image-element {
        width: 150%;
        margin-bottom: 20px;
    }
    .second-sell {
        width: 100%;
        margin: 15px;
        padding: 10px;
        flex-wrap: wrap;
    }
    .question {
        font-size: 50px;
    }
}
>>>>>>> cb9c3cd03683f48c8409e8b3ae5891beb82caa70
