.main-landing {
    display: flex;
    padding: 100px;
    padding-top: 80px;
}

.detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.name {
    font-size: 64px;
    letter-spacing: 1px;
    padding: 5px;
}

.price {
    font-size: 28px;
}

.description {
    padding: 10px;
    letter-spacing: .9px;
}

.product-image {
    width: 500px;
    padding: 0 40px;
}

@media (max-width: 1024px) {
    .name {
        font-size: 32px;
    }
    .product-image {
        width: 500px;
        margin-top: -100px;
        padding: 10px;
    }
    .main-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .product-image {
        width: 300px;
        margin: 15px;
        padding: 10px;
    }
    .main-landing {
        padding: 0px;
        padding-top: 120px;
    }
}